fieldset {
    border: 1px solid #EAEAEA;
    border-radius: 10px;
}

.star-count,
.hotel-type {
    display: flex;
    flex-direction: column;
}

.price-from-to {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}
.price-from-to__from,
.price-from-to__to {
    display: block;
}

.star-count__counts {
    display: flex;
    flex-direction: column;
}
.country-list {
    margin-top: 16px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.button-block {
    margin-top: 26px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}