.star-count,
.hotel-type {
    display: flex;
    flex-direction: column;
}

.price-from-to {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}
.price-from-to__from,
.price-from-to__to {
    display: block;
}

.star-count__counts {
    display: flex;
    flex-direction: column;
}
.country-list {
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.button-block {
    display: flex;
    flex-direction: column;
}