:root {
    --search-bar-width: 325px;
    --list-width: 845px;
    --component-gap: 40px;
}
.search-form {
    display: flex;
    flex-direction: column;
    width: var(--search-bar-width);
}

.content {
    display: flex;
    margin: 0 auto;
    max-width: calc(var(--search-bar-width)  + var(--component-gap) + var(--list-width));
}

.empty-list,
.list {
    margin-left: var(--component-gap);
}

.hotel-card {
    box-sizing: border-box;
    padding: 22px 25px 28px;
    width: var(--list-width);
    display: flex;
    flex-direction: row;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    margin-bottom: 15px;
}
.hotel-card__booking-block {
    margin-left: var(--component-gap);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hotel-card__title {
    font-size: 20px;
    font-weight: bold;
}

.hotel-card__subtitle {
    font-size: 14px;
    color: #868686;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.hotel-card__description {
    font-size: 16px;
}
.hotel-card__bullet {
    padding: 0 4px;
}

.booking-button {
    width: 179px;
}